Flask
Flask-SQLAlchemy
Flask-Migrate
Flask-Login
Flask-WTF
Flask-CORS
Flask-Bcrypt
python-dotenv
SQLAlchemy
psycopg2-binary
WTForms
Pillow
requests
gunicorn
python-barcode
python-escpos
pandas
openpyxl
stripe
Flask-SocketIO